*{
  margin:0;
  padding:0;
}

body{
  background-color: black;
  font-family: sans-serif;
}

/*PRIMER EJERCICIO*/
header{
  background-color: cadetblue;
}

h1{
  font-family: monospace;
  text-align: center;
}

.practica1{/*ul*/
 background-color: white;
 
}

.practica-1{/*li*/
  background-color: chocolate;
  color:white;
  border: dashed black;
  padding:.3rem .7rem;
  list-style: none;
}

/*.practica-1:nth-child(3){
  font-size: 25px;
}*/


.practica_1{/*a*/
  text-decoration: none;
  color:inherit;
}

.practica1{
  display: flex;
}

.practica-1{
  flex-grow: 1;
  flex-shrink: 0;
}
.practica-1:nth-child(2){
  flex-shrink: 1;
}





